<!-- categories intro section-->
<section class="text-gray-400 bg-white dark:bg-gray-800 body-font overflow-hidden">
  <div class="container px-5 pt-16  mx-auto">
    <div class="-my-8 divide-y-2 divide-gray-800">
      <div class="py-8 flex flex-wrap md:flex-nowrap">
        <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
          <span class="font-semibold title-font text-purple-800 dark:text-white">CATEGORIES</span>
          <span class="mt-1 text-gray-500 text-sm">explore</span>
        </div>
        <div class="md:flex-grow">
          <h2 class="text-2xl font-medium text-purple-800 dark:text-white title title-font mb-2">Our Categories would left you stuned!</h2>
          <p class="leading-relaxed text-gray-800 dark:text-white">Glossier echo park pug, church-key sartorial biodiesel vexillologist pop-up snackwave ramps cornhole. Marfa 3 wolf moon party messenger bag selfies, poke vaporware kombucha lumbersexual pork belly polaroid hoodie portland craft beer.</p>
          <a href="{% url 'categories'%}"class="text-green-600 inline-flex items-center mt-4">Learn More
            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
      {% for category in categories %}
      <div class="py-8 pt-4 flex border-t-2 border-gray-800 flex-wrap md:flex-nowrap">
        <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
          <span class="font-semibold title-font text-purple-800 dark:text-white">{{category.category_name}}</span>
          <span class="mt-1 text-gray-500 text-sm">{{category.created_date}}</span>
        </div>
        <div class="md:flex-grow">
          <h2 class="text-2xl font-medium text-purple-800 dark:text-white title-font mb-2">{{category.category_title}}</h2>
          <p class="leading-relaxed text-gray-800 dark:text-white">{{category.category_description}}</p>
          <a href="{% url 'category_detail' category.pk %}" class="text-green-600 inline-flex items-center mt-4">View Posts
            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
