<form hx-post="{% url 'comment_reply' post.pk comment.pk %}" hx-swap="outerHTML" id="{{comment.pk}}" class="w-full hidden max-w-xl bg-gray-200 mt-4 m-auto justify-center rounded-lg px-4 pt-2">
  {% csrf_token %}
  <div class="flex flex-wrap -mx-3 mb-6">
     <h2 class="px-4 pt-3 pb-2 text-gray-800 text-lg">Reply</h2>
     <div class="w-full md:w-full px-3 mb-2 mt-2">
       <label class="text-bold uppercase text-gray-600 " for="author">Author:</label>
       <input type="text" name="author" class="bg-gray-100 rounded border border-gray-400 leading-normal resize-none w-full h-10 py-2 px-3 font-medium placeholder-gray-700 focus:outline-none focus:bg-white">
     </div>
     <div class="w-full md:w-full px-3 mb-2 mt-2">
       <label class="text-bold uppercase text-gray-600 " for="comment">Body:</label>
        <textarea name="body"t class="bg-gray-100 rounded border border-gray-400 leading-normal resize-none w-full h-20 py-2 px-3 font-medium placeholder-gray-700 focus:outline-none focus:bg-white" name="body" placeholder='Type Your Comment' required></textarea>
     </div>

     <div class="w-full md:w-full flex items-start md:w-full px-3">

        <div class="-mr-1">
           <input type='submit' class="bg-white text-gray-700 font-medium py-1 px-4 border border-gray-400 rounded-lg tracking-wide mr-1 hover:bg-gray-100" value='Reply Comment'>
        </div>
        {% for message in messages %}
            <p class="text-sm text-green-500 text-center">{{message}}</p>
        {% endfor %}
        {% for field in form %}
            {% for error in field.errors %}
            <p class="text-sm text-red-500 text-center">{{field.label}}: {{error}}</p>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <p class="text-sm text-red-500 text-center">Submission error: {{error}}</p>
        {% endfor %}
    </div>
</form>
