{% extends "blog/base.html" %}
{% block title %}<title>Posts list</title>{% endblock title %}
{% block content %}
<section class="text-blueGray-700">
  <p class="text-medium font-bold mx-auto text-center text-gray-600">All Posts</p>

<!-- component -->
<div class="max-w-4xl px-10 my-4 py-6 bg-white rounded-lg shadow-md m-auto">
  {% for post in posts %}
  <div class="flex justify-between items-center mt-5">
      <span class="font-light text-gray-600">{{post.created_date}}</span>
      {% for category in post.category.all %}
      <a class="px-2 py-1 bg-gray-600 text-gray-100 font-bold rounded hover:bg-gray-500" href="#">{{category}}</a>
      {% endfor %}
        </div>
  <div class="mt-2">
      <a class="text-2xl text-gray-700 font-bold hover:text-gray-600" href="{% url 'blog_detail' post.slug %}">{{post.title}}</a>
      <p class="mt-2 text-gray-600">{{post.body|safe|truncatewords:50}}</p>
  </div>
  <div class="flex justify-between items-center mt-4">
      <a class="text-blue-600 hover:underline" href="{{blog.get_absolute_url}}">Read more</a>

      <div class="flex flex-wrap justify-starts items-center mt-4">
        {% for tag in post.tags.all %}
        <div class="text-xs mr-2 py-1.5 px-4 text-gray-600 bg-blue-100 rounded-2xl">
            {{post.tag}}
        </div>
        {% endfor %}
      </div>

      <div>
          <a class="flex items-center" href="{% url 'profile' post.author.profile.pk %}">
              <img class="mx-4 w-10 h-10 object-cover rounded-full hidden sm:block" src="{{post.author.profile.avi}}" alt="avatar">
              <h1 class="text-gray-700 font-bold">
                {% if post.author.profile.name %}
                  {{post.author.profile.name}}
                  {% else %}
                  {{author}}
                {% endif %}
              </h1>
          </a>
      </div>
  </div>
  <hr class="border-t-2 border-gray-800 " >
  {% endfor %}
    </div>
  </section>
{% endblock content %}