<div class="mt-6">
    <div class="max-w-4xl px-10 py-6 mx-auto bg-white rounded-lg shadow-md">
        <div class="flex items-center justify-between">
            <span class="font-light text-gray-600">{{ post.created_date }}</span><a href="{% url 'categories' %}"
   class="px-2 py-1 font-bold text-gray-100 bg-gray-600 rounded hover:bg-gray-500">{{ post.category }}</a>
        </div>
        <div class="mt-2">
            <a href="{% url 'blog_detail' post.slug %}"
               class="text-2xl font-bold text-gray-700 hover:underline">{{ post.title }}</a>
            <p class="mt-2 text-gray-600">
                {{ post.body|safe|truncatewords:30 }}
            </p>
        </div>
        <div class="flex items-center justify-between mt-4">
            <a href="{% url 'blog_detail' post.slug %}"
               class="text-blue-500 hover:underline">Read more</a>
            <div>
                <a href="{% url 'profile' post.author.profile.pk %}"
                   class="flex items-center">
                    <img src="{{ post.author.profile.avi }}"
                         alt="avatar"
                         class="hidden object-cover w-10 h-10 mx-4 rounded-full sm:block">
                    <h1 class="font-bold text-gray-700 hover:underline">{{ post.author.profile.name }}</h1>
                </a>
            </div>
        </div>
    </div>
</div>
